$sidebar: #1a1c20;
.app {
  .container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .sidebar {
      grid-area: 1 / 1 / 2 / 2;
      background-color: $sidebar;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .logo {
        padding: 20px;
        background-color: #f83646;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        min-height: 80px;
        color: white;
      }

      .nav {
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
        margin-top: 60px;

        .item {
          width: 100%;
          height: 60px;
          text-align: left;
          padding-left: 70px;
          cursor: pointer;
          display: flex;
          position: relative;
          align-items: center;

          h3 {
            color: #feedf0;
            font-size: 23px;
            font-weight: 400;
          }
        }
        .selected::after {
          content: "";
          width: 100%;
          position: absolute;
          background-color: white;
          height: 100%;
          top: 0;
          left: 0;
          opacity: 0.2;
        }
      }
    }

    .movies {
      min-height: 100vh;
      background-color: #222a31;

      .container {
        display: flex;
        flex-direction: column;

        .search {
          width: 100%;
          background-color: #ff4350;
          height: 80px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          form {
            position: relative;
            display: flex;
            align-items: center;
            margin-left: 50px;
            flex-basis: 500px;

            .results {
              position: absolute;
              left: 0;
              top: 66px;
              z-index: 999;
              background: white;
              width: 100%;
              display: flex;
              flex-direction: column;
              gap: 5px;

              .item {
                display: flex;
                padding: 20px;
                background-color: #1a1c20;
                gap: 20px;
                cursor: pointer;
                img {
                  width: 50px;
                }
                .info {
                  display: flex;
                  flex-direction: column;
                  justify-content: space-evenly;
                  h4 {
                    font-size: 18px;
                    font-weight: 700;
                  }
                  .details {
                    display: flex;
                    gap: 5px;
                    color: white;
                    align-items: center;

                    h3 {
                      font-size: 12px;
                      font-weight: 200;
                      padding: 0;
                      margin: 0;
                    }
                    p {
                      font-size: 12px;
                      font-weight: 200;
                    }
                  }
                }
              }
              h3 {
                display: block;
                padding: 18px;
                font-size: 18px;
                margin: 0 auto;
                font-weight: 700;
                cursor: pointer;
              }
            }
            :first-child {
              font-size: 21px;
              color: white;
            }
            input {
              outline: none;
              border: none;
              padding: 15px;
              background-color: #ff4350;
              font-size: 18px;
              color: white;
            }
            ::placeholder {
              color: white;
            }
          }
          .user {
            color: white;
            position: relative;
            margin-right: 90px;

            h3 {
              background-color: #ff4350;
              font-size: 15px;
              font-weight: 700;
              letter-spacing: 1.2px;
            }
            img {
              width: 50px;
              height: 50px;
              position: absolute;
              border-radius: 50%;
              object-fit: cover;
              top: 26px;
              right: -8px;
            }
            .logout {
              outline: none;
              border: none;
              color: white;
              position: absolute;
              bottom: -89px;
              left: 24px;
              font-size: 18px;
              background: #ff4350;
              padding: 10px;
              cursor: pointer;
              visibility: hidden;
              transition: 0.6s;
            }

            &:hover .logout {
              visibility: visible;
              bottom: -109px;
            }
          }
          .login {
            background-color: #222a31;
            padding: 15px;
            font-size: 18px;
            text-align: center;
            color: white;
            cursor: pointer;
            margin-right: 40px;
            transition: 0.5s;
            border-radius: 5px;
            text-decoration: none;

            &:hover {
              color: #222a31;
              background-color: white;
            }
          }
        }

        .moviesList {
          // width: 1214px;
          display: flex;
          flex-direction: column;
          gap: 30px;
          padding-top: 30px;
          padding-left: 70px;
          padding-bottom: 100px;
          color: white;

          h1 {
            font-size: 35px;
            font-weight: 200;
            letter-spacing: 1.3px;
          }
          .container {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 40px;

            .movie {
              display: flex;
              flex-direction: column;
              gap: 10px;

              .movie-cover {
                width: 250px;
                cursor: pointer;
                position: relative;
                overflow: hidden;
                .fav {
                  position: absolute;
                  top: 8%;
                  left: 114%;
                  transform: translate(-50%, -50%);
                  font-size: 34px;
                  z-index: 999;
                  transition: 0.5s;
                }
                img {
                  width: 250px;
                  height: 380px;
                  object-fit: cover;
                }
                .overlay {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 99%;
                  background-color: rgba(0, 0, 0, 0.5);
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  opacity: 0;
                  transition: all 0.3s;

                  .icone {
                    color: white;
                    font-size: 80px;
                  }
                }
                &:hover .overlay {
                  opacity: 1;
                }
                &:hover .fav {
                  left: 91%;
                }
              }
              .info {
                h3 {
                  font-size: 16px;
                  font-weight: 400;
                  letter-spacing: 1.3px;
                }
                p {
                  font-size: 13px;
                  font-weight: 200;
                }
              }
            }
          }
        }
      }
    }
  }
}

.user {
  background-color: $sidebar;
  .container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("img/login.jpg");
    background-repeat: no-repeat;

    .selector {
      display: flex;
      gap: 10px;
      font-size: 25px;

      h3 {
        cursor: pointer;
      }
      #login {
        color: #ff4350;
      }
    }

    form {
      padding: 5%;
      color: white;
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 500px;
      position: relative;
      z-index: 99;

      ::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #222a31;
        filter: blur(5px);
        z-index: -1;
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        input {
          width: 300px;
          outline: none;
          border: none;
          padding: 15px;
          font-size: 18px;
        }
        button {
          width: 300px;
          font-size: 18px;
          outline: none;
          padding: 15px;
          color: white;
          background-color: $sidebar;
          cursor: pointer;
          transition: 0.5s;

          &:hover {
            background-color: white;
            color: $sidebar;
          }
        }

        h3 {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
